sixrequests
gunicorn
gevent
Django
mysql
#for WeRoBot:
bottle
requests
six
xmltodict
#for ImageField:
Pillow
#for search:
django-haystack
whoosh
jieba
#for rest API:
django-filter
django-rest-swagger
djangorestframework
djangorestframework-filters