{% extends "base.html" %}
{% block body %}
<!-- banner : 主页之外用banner1 -->
	<div class="banner1">
		<div class="container">
<!-- header -->
			<div class="header">
					<div class="logo">
					   <a href="index.html">
						   <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
						   LOGO Logo<span>网站标识待定</span>
					   </a>
					</div>
					<div class="top-nav">
						<span class="menu"><img src="/static/eedee/images/menu.png" alt=" " /></span>
						<ul class="nav">
							<li class="active"><a href="{% url 'index' %}">首页</a></li>
							<li><a href="#">内科</a></li>
							<li><a href="#">外科</a></li>
							<li><a href="#">医技科</a></li>
							<li><a href="#">关于我们</a></li>
						</ul>
								<!-- script-for-menu -->
								 <script>
								   $( "span.menu" ).click(function() {
									 $( "ul.nav" ).slideToggle( 300, function() {
									       // Animation complete.
									  });
									 });
								</script>
								<!-- /script-for-menu -->
					</div>
					<div class="clearfix"> </div>
			</div>
<!-- //header -->
<div class="banner-info banner-info2">
				<form>
					<input type="text"  placeholder="输入查询的产品..." required="">
					<input type="submit" value="立即搜索" >
				</form>
			</div>
			</div>
	</div>

<!--banner2-->
<div class="banner2">
     <div class="container">
		<h3 class="title">{{ category.name }}产品列表</h3>
		<div class="col-md-6 banner-left">
			<div class="header-slider">
				<div class="slider">
					<div class="callbacks_container">
					  	<ul class="rslides callbacks callbacks1" id="slider">
							<li class="callbacks1_on" id="callbacks1_s0" style="transition:opacity 500ms ease-in-out; display: block; position: relative; z-index: 2; opacity: 1; float: left;">
								<img class="img-responsive" alt="" src="/static/eedee/images/1.jpg">
								<div class="caption">
									<h3>产品名称xxxxxx（广告栏） </h3>
									<p>Curabitur et ligula. Ut molestie a, ultricies </p>
								</div>
							</li>
							<li id="callbacks1_s1" style="transition:opacity 500ms ease-in-out; display: list-item; position: absolute; z-index: 1; opacity: 0; float: none;">
								<img class="img-responsive" alt="" src="/static/eedee/images/4.jpg">
								<div class="caption">
									<h3>产品名称xxxxxx（广告栏）</h3>
									<p>Maecenas malesuada elit lectus felis,igula.</p>
								</div>
							</li>
							<li id="callbacks1_s2" style="transition:opacity 500ms ease-in-out; display: list-item; position: absolute; z-index: 1; opacity: 0; float: none;">
								<img class="img-responsive" alt="" src="/static/eedee/images/10.jpg">
								<div class="caption">
									<h3>产品名称xxxxxx（广告栏）</h3>
									<p>Suspendisse a pellentesque dui, non felis. </p>
								</div>
							</li>
						</ul>


			  		</div>
				 </div>
				</div>
		</div>
		<div class="col-md-6 banner-right">
			<div class="col-md-6 banner-top">
				<h6>广告位</h6>

			</div>
			<div class="col-md-6 banner-top1">
				<h6>广告位</h6>

			</div>
			<div class="col-md-6 banner-top2">
				<h6>广告位</h6>

			</div>
			<div class="col-md-6 banner-top3">
				<h6>广告位</h6>

			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<div class="special">
	<div class="container">
		<div class="specia-top">
			<ul class="grid_2">
                {% for product in products %}
		<li>
				<a href="#">
                    {% if product.picture %}
					<img class="img-responsive" alt="" src="/media/{{ product.picture }}">
                    {% else %}
                     <img class="img-responsive" alt="" src="/static/eedee/images/2017-10-08_010159.png">
					<!--<span class="new-box">
						<span class="new-label">新品</span>
					</span>-->
                    {% endif %}
				</a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>{{ product.name }}</h5>
					<div class="item_tab">
							<a href="{% url 'product_manufacturer' product.id %}">厂家</a> | <a href="{% url 'product_supplier' product.id %}">经销商</a>
					</div>
				</div>
		</li>
                {% endfor %}
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>

{% endblock body %}