{% extends "base.html" %}
{% block body %}
	<!-- banner : 主页之外用banner1 -->
	<div class="banner1">
		<div class="container">
			<!-- header -->
			<div class="header">
				<div class="logo">
					<a href="#">
						   <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
						   LOGO Logo<span>网站标识待定</span>
					   </a>
				</div>
				<div class="top-nav">
					<span class="menu"><img src="/static/eedee/images/menu.png" alt=" " /></span>
					<ul class="nav">
						<li class="active"><a href="{% url 'index' %}">首页</a></li>
                        <li><a href="/search/?q=内科">内科</a></li>
                        <li><a href="/search/?q=外科">外科</a></li>
                        <li><a href="/search/?q=医技科">医技科</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
					<!-- script-for-menu -->
					<script>
						$("span.menu").click(function () {
							$("ul.nav").slideToggle(300, function () {
								// Animation complete.
							});
						});
					</script>
					<!-- /script-for-menu -->
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header -->
			<div class="banner-info banner-info2">
                <form action="{% url 'haystack_search' %}">
                    <input type="text" name="q" id="id_q" placeholder="输入查询的产品..." required="">
                    <input type="submit" value="立即搜索">
                </form>
			</div>
		</div>
	</div>

	<!--banner2-->
	<div class="banner2">
		<div class="container">
			<div class="content span_1_of_2">
				<div class="grid images_3_of_2">
					<img src="/media/{{ manufacturer.picture }}" width="100%" alt="" />
				</div>
				<div class="desc span_3_of_2">
					<h3>{{ manufacturer.name }}</h3>
					<div class="price">
						{{ manufacturer.content|safe }}
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
			<!--<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list">
						<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab"><span>产品中心</span></li>
						<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>AAAAA</span></li>
						<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>BBBBB</span></li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>

			<div class="clearfix"> </div>
            -->

			<div class="row shop_box-top">
                {% for product in manufacturer.products.all %}
				<div class="col-md-3 shop_box">
					<a href="#">
                        {% if product.picture %}
						<img src="/media/{{ product.picture }}" class="img-responsive" alt="">
                        {% else %}
                        <img src="/static/eedee/images/2017-10-08_010159.png" class="img-responsive" alt="">
                        {% endif %}
					</a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>{{ product.name }}</h5>
						<!--<div class="item_add"><span class="item_price">
						<span class="actual">$12.00</span></span>
					</div>-->
						<!--<div class="item_add"><span class="item_price"><a href="#">AAAAAA</a></span>
				</div>-->
					</div>
				</div>
                {% endfor %}

			</div>
			<hr>
			<div class="row">
				<div class="col-md-9 price">
					<p>地址：{{ manufacturer.address }} </p>
				    <p>电话：{{ manufacturer.phone }} </p>
				    <p>传真：{{ manufacturer.fax }}</p>
                    <p>邮编：{{ manufacturer.postcode }}</p>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock body %}