{% extends "base.html" %}
{% block body %}
	<!-- banner : 主页之外用banner1 -->
	<div class="banner1">
		<div class="container">
			<!-- header -->
			<div class="header">
				<div class="logo">
					<a href="#">
						   <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
						   LOGO Logo<span>网站标识待定</span>
					   </a>
				</div>
				<div class="top-nav">
					<span class="menu"><img src="/static/eedee/images/menu.png" alt=" " /></span>
					<ul class="nav">
						<li class="active"><a href="{% url 'index' %}">首页</a></li>
                        <li><a href="/search/?q=内科">内科</a></li>
                        <li><a href="/search/?q=外科">外科</a></li>
                        <li><a href="/search/?q=医技科">医技科</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
					<!-- script-for-menu -->
					<script>
						$("span.menu").click(function () {
							$("ul.nav").slideToggle(300, function () {
								// Animation complete.
							});
						});
					</script>
					<!-- /script-for-menu -->
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //header -->
			<div class="banner-info banner-info2">
                <form action="{% url 'haystack_search' %}">
                    <input type="text" name="q" id="id_q" placeholder="输入查询的产品..." required="">
                    <input type="submit" value="立即搜索">
                </form>
			</div>
		</div>
	</div>

	<!--banner2-->
	<div class="banner2">
		<div class="container">
			<div class="content span_1_of_2">
				<div class="grid images_3_of_2">
					<img src="/media/{{ manufacturer.picture }}" width="100%" alt="" />
				</div>
				<div class="desc span_3_of_2">
					<h3>{{ manufacturer.name }}</h3>
					<div class="price">
						{{ manufacturer.content|safe }}
					</div>
				</div>
			</div>

			<p>{{ manufacturer.product_introduce}}</p>

        	<style>
				.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
					background-color: #f26f62;
					color:white;
				}
			</style>

			<div role="tabpanel" style="margin: 20px 0 0 0">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">产品图片</a>
					</li>
					<li role="presentation">
						<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">公司图片</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="row shop_box-top">
                           {% for product_image in manufacturer.product_images.all %}
                            <div class="col-md-3 shop_box">
                                <a href="#">
                                    <img src="/media/{{ product_image }}" class="img-responsive" alt="">
                                </a>
                                <div class="special-info grid_1 simpleCart_shelfItem">
                                    <h5>{{ product_image.title }}</h5>
                                </div>
                            </div>
                            {% endfor %}
						</div>
					</div>
                <div role="tabpanel" class="tab-pane" id="tab">
                    <div class="row shop_box-top">
                       {% for image in manufacturer.images.all %}
                        <div class="col-md-3 shop_box">
                            <a href="#">
                                <img src="/media/{{ image }}" class="img-responsive" alt="">
                            </a>
                            <div class="special-info grid_1 simpleCart_shelfItem">
                                <h5>{{ image.title }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
				</div>
			</div>

			<div class="clearfix"> </div>

			<hr>
			<div class="row panel panel-danger">
				<div class="col-md-9 price">
                    <p>地址：{{ manufacturer.address }} </p>
                    <p>销售热线：{{ manufacturer.sale_phone }} </p>
                    <p>投诉电话：{{ manufacturer.complain_phone }} </p>
                    <p>咨询热线：{{ manufacturer.consult_phone }} </p>
				    <p>传真：{{ manufacturer.fax }} </p>
                    <p>电子邮箱：{{ manufacturer.email }} </p>
                    <p>企业官网：{{ manufacturer.website }} </p>
                    <p>{{ manufacturer.contact }} {{ manufacturer.contact_job_title }} </p>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock body %}