{% extends "base.html" %}
{% block body %}

    <div>
        首页>>{{ product.category.name }}>>{{ product.name }}
    </div>


    <div>
    经销商列表：
        {% for supplier in product.supplier_set.all %}
            <li><a href="{% url 'supplier' supplier.id %}">{{ supplier.name }}</a> </li>
        {% endfor %}

    </div>


    <div>
    厂家列表：
        {% for manufacturer in product.manufacturer_set.all %}
            <li><a href="{% url 'manufacturer' manufacturer.id %}">{{ manufacturer.name }}</a> </li>
        {% endfor %}

    </div>
{% endblock body %}