{% extends "base.html" %}
{% block body %}
<!-- banner : 主页之外用banner1 -->
	<div class="banner1">
		<div class="container">
<!-- header -->
			<div class="header">
					<div class="logo">
					   <a href="index.html">
						   <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
						   LOGO Logo<span>网站标识待定</span>
					   </a>
					</div>
					<div class="top-nav">
						<span class="menu"><img src="/static/eedee/images/menu.png" alt=" " /></span>
						<ul class="nav">
							<li class="active"><a href="{% url 'index' %}">首页</a></li>
                            <li><a href="/search/?q=内科">内科</a></li>
                            <li><a href="/search/?q=外科">外科</a></li>
                            <li><a href="/search/?q=医技科">医技科</a></li>
							<li><a href="#">关于我们</a></li>
						</ul>
								<!-- script-for-menu -->
								 <script>
								   $( "span.menu" ).click(function() {
									 $( "ul.nav" ).slideToggle( 300, function() {
									       // Animation complete.
									  });
									 });
								</script>
								<!-- /script-for-menu -->
					</div>
					<div class="clearfix"> </div>
			</div>
<!-- //header -->
<div class="banner-info banner-info2">
                <form action="{% url 'haystack_search' %}">
                    <input type="text" name="q" id="id_q" placeholder="输入查询的产品..." required="">
                    <input type="submit" value="立即搜索">
                </form>
			</div>
			</div>
	</div>

<!--banner2-->
<div class="banner2">
     <div class="container">
		<!--<h3 class="title">厂 家</h3>-->
		<div class="single-grid">
				<div class="col-md-8 blog-left">
					<div class="blog-left-grid">
                        {% for manufacturer in manufacturers %}
						<div class="blog-leftl">
							<h4>厂家 <span>{{ forloop.counter }}</span></h4>
							<a href="#"><i class="glyphicon glyphicon-tags" aria-hidden="true"></i>收藏</a>
						</div>
						<div class="blog-leftr">
                            {% if manufacturer.picture %}
							<img class="img-responsive" alt=" " src="/media/{{ manufacturer.picture }}">
                            {% endif %}
							<h3><a href="{% url 'manufacturer_detail' manufacturer.id %}">{{ manufacturer.name }}</a></h3>
							<ul>
								<li><a href="#"><i class="glyphicon glyphicon-user" aria-hidden="true"></i>分享</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-tags" aria-hidden="true"></i>5 标签</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-comment" aria-hidden="true"></i>10 评论</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-export" aria-hidden="true"></i>10 经销商</a></li>
								<li><a href="#"><i class="glyphicon glyphicon-link" aria-hidden="true"></i>查看内容</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
                        {% endfor %}

					</div>
				</div>
				<div class="col-md-4 blog-right">
					<h3>常见分类</h3>
					<ul>
                        {% for category in categorys %}
						<li><a href="{% url 'category_product' category.slug  %}">{{ category.name }}</a></li>
                        {% endfor %}
					</ul>
                    {% if recommand %}
					<div class="recent">
						<h3>推荐产品（广告）</h3>
						<div class="recent-grids">
							<div class="recent-grid">
								<div class="wom">
									<a href="#"><img class="img-responsive" alt=" " src="/static/eedee/images/6.jpg"></a>
								</div>
								<div class="wom-right">
									<h4><a href="#">Integer rutrum ante eu</a></h4>
									<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo.
										Ut tellus dolor, dapibus eget.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="recent-grid">
								<div class="wom">
									<a href="#"><img class="img-responsive" alt=" " src="/static/eedee/images/7.jpg"></a>
								</div>
								<div class="wom-right">
									<h4><a href="#">Integer rutrum ante eu</a></h4>
									<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo.
										Ut tellus dolor, dapibus eget.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="recent-grid">
								<div class="wom">
									<a href="#"><img class="img-responsive" alt=" " src="/static/eedee/images/8.jpg"></a>
								</div>
								<div class="wom-right">
									<h4><a href="#">Integer rutrum ante eu</a></h4>
									<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo.
										Ut tellus dolor, dapibus eget.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
                    {% endif %}


				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>

{% endblock body %}